%div#msg-modal{:class => "modal fade bs-example-modal-sm", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "mySmallModalLabel", "aria-hidden" => "true"}
	%div.modal-dialog.modal-sm
		%div.modal-body
			Message Here